<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title></title>    
</head>
<body>

	<div class="container" >
		<br><br>
		<table border="0" style="width:100%">
		<tr>
			<th><div class="row col-12" style="margin-left: 10px">
				<div class="col-12">
					<img src="/images/CERTI-LOGO.jpeg" width="80" height="50">
				</div>
			</div>	
		</tr>
		<tr>
			<th><div style="border-color: black; border: 1px; margin-left: 150px">
				<img src="/images/MENU.jpeg" width="400" height="400">
				</div>
			<th><div style="margin-right: 150px">
					<ul class="nav flex-column">
					  <li class="nav-item">
					    <a class="nav-link disabled" aria-current="page" href="#">Menú de Opciones</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="http://localhost:8080/expedientes/listar">Visor de Documentos</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="http://localhost:8080/expedientes/MVisor">Manual de Visor</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="http://localhost:8080/expedientes/MMicro">Manual de Micrograbación</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="https://www.certicom.com.pe/">Contactos</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#" onclick="javascript:window.close()">Salir</a>
					  </li>
					</ul>
				</div>
		</tr>
		</table>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>